nav {
  margin-top: 20px;
}

nav ul {
  display: flex;              
  gap: 220px;   
  list-style: none;             
}
nav ul li {
    cursor: pointer;
    font-weight: 700;
    color:blueviolet
}